<?xml version="1.0"?><robot name="pepe">
	<link name="0">
		<visual>
			<geometry>
				<cylinder length="1.9998" radius="0.2552084276127574"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<cylinder length="1.9998" radius="0.2552084276127574"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.4091913648753015"/>
			<inertia ixx="0.03" iyy="0.03" izz="0.03" ixy="0" ixz="0" iyx="0"/>
		</inertial>
	</link>
</robot>
